
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-header page-header-dark bg-img-repeat bg-secondary" style="background-image: url(..//images/pattern-shapes.png)">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="badge badge-marketing badge-pill badge-secondary-soft text-secondary mb-3">Start using service!</div>
                    <h1 class="page-header-title">CS.Money Prices</h1>
                    <p class="page-header-text">This is the lowest (basic) prices from CS.Money, update every hour.The stats from users market has been added.</p>
                    <a href="~/Home/Test" class="btn-green scrool">Start Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</header>
<section class="bg-white py-5">
    @*<div class="container">
            <div class="text-uppercase-expanded text-right mb-5 text-gray-300">Here's where you can find us</div>
            <div class="row brands text-gray-500 align-items-center">
                <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0">
                    <img src="~/images/asp.net.png" />
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0">
                    <img src="~/images/ef.png" />
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0">
                    <img src="~/images/json-logo.png" />
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center mb-5 mb-sm-0">
                    <img src="~/images/AJAX_logo_by_gengns.svg.png" />
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center mb-5 mb-sm-0">
                    <img src="~/images/bootstrap.png" />
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center mb-5 mb-sm-0">
                    <img src="~/images/1200px-JQuery_logo_text.svg.png" />
                </div>
            </div>
        </div>*@
    <div class="svg-border-angled text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</section>
<section class="bg-light pt-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5">
                <div class="badge badge-marketing badge-pill badge-secondary-soft text-secondary mb-3">Feature</div>
                <h2>
                    Cloud Parser - CSGO trade & skins
                </h2>
                @*<p class="lead">Design can go a long way when capturing leads on your website. This lead caputre landing page example can help you get started!</p>*@
            </div>
        </div>
        <div class="row mb-n10 z-1">
            <div class="col-lg-6 mb-5">
                <div class="card h-100">
                    <div class="card-body p-5">
                        <div class="icon-stack icon-stack-xl bg-secondary-soft text-secondary mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
                        <h5>CS.Money prices and sales stats</h5>
                        <p class="card-text">
                            On our site you can see all statistics on the sale of each cs.money item. Statistics include sales price, time and float.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card h-100">
                    <div class="card-body p-5">
                        <div class="icon-stack icon-stack-xl bg-success-soft text-success mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></div>
                        <h5>Find the inspect link and owner using the csgofloat</h5>
                        <p class="card-text">
                            In the future, the function of viewing the owner of the skin will be added.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</section>
<section class="bg-white border-bottom py-10">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h4 class="text-primary">Ready to get started?</h4>
            </div>
            <div class="col-lg-6 text-lg-right"><a class="btn btn-marketing btn-primary rounded-pill mr-3" href="~/Home/Test">Start Now</a><a class="btn btn-marketing btn-transparent-dark rounded-pill" data-toggle="modal" data-target="#exampleModalCenter">Contact Us</a></div>
        </div>
    </div>
</section>


<!-- Contact us -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contact us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Ваше имя:</label>
                    <input type="name" name="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email1">E-mail:</label>
                    <input type="email" name="email" class="form-control" id="email1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="phone">Номер телефона:</label>
                    <input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="message">Сообщение:</label>
                    <textarea class="form-control" name="message" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Отправить сообщение</button>
            </div>
        </div>
    </div>
</div>
