<style>
    h2{
        text-align:center;
        margin-top:2%;
    }
    h4 {
        text-align: center;
        margin-top: 3%;
    }
</style>
<body>
    <h2>Settings</h2>
    <h4>On development stage</h4>
</body>
